<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.beaniejoy.bootapiserver.mapper.CompanyMapper">
    <resultMap id="companyResult" type="Company">
        <id column="id" property="id" />
        <collection property="employeeList" column="id" ofType="Employee" select="io.beaniejoy.bootapiserver.mapper.EmployeeMapper.getByCompanyId" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" parameterType="map" keyProperty="id">
        INSERT INTO company(company_name, company_address)
        VALUES(#{company.name}, #{company.address})
    </insert>

    <select id="getAll" resultMap="companyResult">
        SELECT * FROM company
    </select>

    <select id="getById" parameterType="map" resultType="Company">
        SELECT * FROM company WHERE id = #{id}
    </select>
</mapper>