<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.beaniejoy.bootapiserver.mapper.UserRepository">
    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user(user_name, email, password, address, phone_number, seller, role_type, salt)
        VALUES(
               #{user.userName},
               #{user.email},
               #{user.password},
               #{user.address},
               #{user.phoneNumber},
               #{user.seller},
               #{user.roleType},
               #{user.salt}
              )
    </insert>

    <!--  login 인증시 email 기준으로 select 조회  -->
    <select id="findByEmail" parameterType="map" resultType="io.beaniejoy.bootapiserver.model.User">
        SELECT
            user_id,
            user_name,
            email,
            password,
            address,
            phone_number,
            seller,
            role_type,
            salt
        FROM user
        WHERE email = #{email}
    </select>

</mapper>